# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
SEARXNG_SECRET=!<SEARXNG_SECRET | generate="openssl rand -hex 32">
SEARXNG_VERSION=<SEARXNG_VERSION=2026.8.4-c63835bd2>
VALKEY_VERSION=<VALKEY_VERSION=9-alpine>
