# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
ACME_CA_SERVER=<ACME_CA_SERVER=https://acme-v02.api.letsencrypt.org/directory>
ACME_EMAIL=<ACME_EMAIL>
AUTHENTIK_VERSION=<AUTHENTIK_VERSION=2026.5>
DOMAIN=<global.DOMAIN>
POSTGRES_DB=<POSTGRES_DB=authentik>
POSTGRES_USER=<POSTGRES_USER=authentik>
POSTGRES_VERSION=<POSTGRES_VERSION=18>
TRAEFIK_ACME_VOLUME=<TRAEFIK_ACME_VOLUME=managed_core_traefik_acme>
TRAEFIK_VERSION=<TRAEFIK_VERSION=3.7>
POSTGRESQL_PASSWORD=-<postgresql_password | targets=postgresql_password | generate="openssl rand -hex 32">
AUTHENTIK_SECRET_KEY=-<authentik_secret_key | targets=authentik_secret_key | generate="openssl rand -hex 32">
