# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
CLICKHOUSE_VERSION=<CLICKHOUSE_VERSION>
DOMAIN=<global.DOMAIN>
LANGFUSE_ADMIN_EMAIL=<LANGFUSE_ADMIN_EMAIL>
LANGFUSE_ADMIN_NAME=<LANGFUSE_ADMIN_NAME>
LANGFUSE_CLICKHOUSE_DB=<LANGFUSE_CLICKHOUSE_DB=langfuse>
LANGFUSE_CLICKHOUSE_PASSWORD=!<LANGFUSE_CLICKHOUSE_PASSWORD | generate="openssl rand -hex 32">
LANGFUSE_CLICKHOUSE_USER=<LANGFUSE_CLICKHOUSE_USER=langfuse>
LANGFUSE_ENCRYPTION_KEY=!<LANGFUSE_ENCRYPTION_KEY | generate="openssl rand -hex 32">
LANGFUSE_INIT_USER_PASSWORD=!<LANGFUSE_INIT_USER_PASSWORD | generate="openssl rand -hex 32">
LANGFUSE_NEXTAUTH_SECRET=!<LANGFUSE_NEXTAUTH_SECRET | generate="openssl rand -hex 32">
LANGFUSE_OIDC_CLIENT_ID=<LANGFUSE_OIDC_CLIENT_ID=langfuse>
LANGFUSE_OIDC_CLIENT_SECRET=!<LANGFUSE_OIDC_CLIENT_SECRET | generate="openssl rand -hex 32">
LANGFUSE_POSTGRES_DB=<LANGFUSE_POSTGRES_DB=langfuse>
LANGFUSE_POSTGRES_PASSWORD=!<LANGFUSE_POSTGRES_PASSWORD | generate="openssl rand -hex 32">
LANGFUSE_POSTGRES_USER=<LANGFUSE_POSTGRES_USER=langfuse>
LANGFUSE_PROJECT_PUBLIC_KEY=!<LANGFUSE_PROJECT_PUBLIC_KEY | generate="Wert mit erforderlichem Präfix pk-lf- und zufälligem Suffix erstellen">
LANGFUSE_PROJECT_SECRET_KEY=!<LANGFUSE_PROJECT_SECRET_KEY | generate="Wert mit erforderlichem Präfix sk-lf- und zufälligem Suffix erstellen">
LANGFUSE_SALT=!<LANGFUSE_SALT | generate="openssl rand -hex 32">
LANGFUSE_VALKEY_PASSWORD=!<LANGFUSE_VALKEY_PASSWORD | generate="openssl rand -hex 32">
LANGFUSE_VERSION=<LANGFUSE_VERSION>
POSTGRES_VERSION=<POSTGRES_VERSION>
RUSTFS_LANGFUSE_ACCESS_KEY=!<rustfs.langfuse_s3_access_key>
RUSTFS_LANGFUSE_SECRET_KEY=!<rustfs.langfuse_s3_secret_key>
VALKEY_VERSION=<VALKEY_VERSION>
