# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
FLOWISE_EXPRESS_SESSION_SECRET=!<FLOWISE_EXPRESS_SESSION_SECRET | generate="openssl rand -hex 32">
FLOWISE_JWT_AUTH_TOKEN_SECRET=!<FLOWISE_JWT_AUTH_TOKEN_SECRET | generate="openssl rand -hex 32">
FLOWISE_JWT_REFRESH_TOKEN_SECRET=!<FLOWISE_JWT_REFRESH_TOKEN_SECRET | generate="openssl rand -hex 32">
FLOWISE_PASSWORD=!<FLOWISE_PASSWORD | generate="openssl rand -hex 32">
FLOWISE_POSTGRES_DB=<FLOWISE_POSTGRES_DB=flowise>
FLOWISE_POSTGRES_PASSWORD=!<FLOWISE_POSTGRES_PASSWORD | generate="openssl rand -hex 32">
FLOWISE_POSTGRES_USER=<FLOWISE_POSTGRES_USER=flowise>
FLOWISE_SECRETKEY_OVERWRITE=!<FLOWISE_SECRETKEY_OVERWRITE | generate="openssl rand -hex 32">
FLOWISE_TOKEN_HASH_SECRET=!<FLOWISE_TOKEN_HASH_SECRET | generate="openssl rand -hex 32">
FLOWISE_USERNAME=<FLOWISE_USERNAME>
FLOWISE_VERSION=<FLOWISE_VERSION>
POSTGRES_VERSION=<POSTGRES_VERSION=18>
