# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
PAPERLESS_ADMIN_MAIL=<PAPERLESS_ADMIN_MAIL>
PAPERLESS_ADMIN_USER=<PAPERLESS_ADMIN_USER=paperless-admin>
PAPERLESS_DB_NAME=<PAPERLESS_DB_NAME=paperless>
PAPERLESS_DB_USER=<PAPERLESS_DB_USER=paperless>
PAPERLESS_VERSION=<PAPERLESS_VERSION=2.20.9>
POSTGRES_VERSION=<POSTGRES_VERSION=18>
VALKEY_VERSION=<VALKEY_VERSION=9-alpine>
POSTGRESQL_PASSWORD=-<postgresql_password | targets=postgresql_password | generate="openssl rand -hex 32">
PAPERLESS_SECRET_KEY=-<paperless_secret_key | targets=paperless_secret_key | generate="openssl rand -hex 32">
PAPERLESS_ADMIN_PASSWORD=-<paperless_admin_password | targets=paperless_admin_password | generate="openssl rand -hex 32">
PAPERLESS_OIDC_CLIENT_SECRET=!<paperless_oidc_client_secret | generate="openssl rand -hex 32">
