# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
MARIADB_DATABASE=<MARIADB_DATABASE=partdb>
MARIADB_USER=<MARIADB_USER=partdb>
MARIADB_VERSION=<MARIADB_VERSION=12.3>
PARTDB_BASE_CURRENCY=<PARTDB_BASE_CURRENCY=EUR>
PARTDB_DEFAULT_LANG=<PARTDB_DEFAULT_LANG=de>
PARTDB_DEFAULT_TIMEZONE=<PARTDB_DEFAULT_TIMEZONE=Europe/Berlin>
PARTDB_INSTANCE_NAME=<PARTDB_INSTANCE_NAME=Part-DB>
PARTDB_SAML_ROLE_MAPPING=<PARTDB_SAML_ROLE_MAPPING={"*":-1}>
PARTDB_VERSION=<PARTDB_VERSION=2.14>
PARTDB_APP_SECRET=-<partdb_app_secret | targets=partdb_app_secret | generate="openssl rand -hex 32">
MARIADB_PASSWORD=-<mariadb_password | targets=mariadb_password | generate="openssl rand -hex 32">
MARIADB_ROOT_PASSWORD=-<mariadb_root_password | targets=mariadb_root_password | generate="openssl rand -hex 32">
PARTDB_SAML_SP_CERTIFICATE=-<partdb_saml_sp_certificate | targets=partdb_saml_sp_certificate | generate="openssl req -x509 -newkey rsa:3072 -nodes -keyout sp.key -out sp.crt -days 3650; dann @file:/pfad eingeben">
PARTDB_SAML_SP_PRIVATE_KEY=-<partdb_saml_sp_private_key | targets=partdb_saml_sp_private_key | generate="openssl req -x509 -newkey rsa:3072 -nodes -keyout sp.key -out sp.crt -days 3650; dann @file:/pfad eingeben">
