# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
QDRANT_API_KEY=!<QDRANT_API_KEY | generate="openssl rand -hex 32">
QDRANT_VERSION=<QDRANT_VERSION=v1.19>
