# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
N8N_ENCRYPTION_KEY=!<N8N_ENCRYPTION_KEY | generate="openssl rand -hex 32">
N8N_POSTGRES_DB=<N8N_POSTGRES_DB=n8n>
N8N_POSTGRES_PASSWORD=!<N8N_POSTGRES_PASSWORD | generate="openssl rand -hex 32">
N8N_POSTGRES_USER=<N8N_POSTGRES_USER=n8n>
N8N_RUNNERS_AUTH_TOKEN=!<N8N_RUNNERS_AUTH_TOKEN | generate="openssl rand -hex 32">
N8N_VERSION=<N8N_VERSION>
POSTGRES_VERSION=<POSTGRES_VERSION>
