# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
GITLAB_OIDC_CLIENT_ID=<GITLAB_OIDC_CLIENT_ID=gitlab>
GITLAB_RUNNER_VERSION=<GITLAB_RUNNER_VERSION>
GITLAB_VERSION=<GITLAB_VERSION>
GITLAB_INITIAL_ROOT_PASSWORD=-<gitlab_initial_root_password | targets=gitlab_initial_root_password | generate="openssl rand -hex 32">
GITLAB_OIDC_CLIENT_SECRET=-<gitlab_oidc_client_secret | targets=gitlab_oidc_client_secret | generate="openssl rand -hex 32">
