# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
NEO4J_MCP_VERSION=<NEO4J_MCP_VERSION>
NEO4J_VERSION=<NEO4J_VERSION=2026.07-community>
NEO4J_AUTH=-<neo4j_auth | targets=neo4j_auth | generate="neo4j/ gefolgt von einem zufälligen Passwort eingeben">
