# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
OPENWEBUI_OIDC_CLIENT_ID=<OPENWEBUI_OIDC_CLIENT_ID=open-webui>
OPENWEBUI_OIDC_CLIENT_SECRET=!<OPENWEBUI_OIDC_CLIENT_SECRET | generate="openssl rand -hex 32">
OPEN_WEBUI_VERSION=<OPEN_WEBUI_VERSION=v0.11.0>
OPENWEBUI_SECRET_KEY=-<openwebui_secret_key | targets=openwebui_secret_key | generate="openssl rand -hex 32">
