# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
LOCALAI_ADMIN_EMAIL=<LOCALAI_ADMIN_EMAIL>
LOCALAI_VERSION=<LOCALAI_VERSION=v4.9.0>
LOCALAI_OIDC_CLIENT_SECRET=-<localai_oidc_client_secret | targets=localai_oidc_client_secret | generate="openssl rand -hex 32">
