# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
RUSTFS_OIDC_CLIENT_ID=<RUSTFS_OIDC_CLIENT_ID=rustfs-console>
RUSTFS_VERSION=<RUSTFS_VERSION=1.0.0-beta.11>
RUSTFS_ROOT_ACCESS_KEY=-<rustfs_root_access_key | targets=rustfs_root_access_key | generate="openssl rand -hex 32">
RUSTFS_ROOT_SECRET_KEY=-<rustfs_root_secret_key | targets=rustfs_root_secret_key | generate="openssl rand -hex 32">
RUSTFS_OIDC_CLIENT_SECRET=-<rustfs_oidc_client_secret | targets=rustfs_oidc_client_secret | generate="openssl rand -hex 32">
LANGFUSE_S3_ACCESS_KEY=-<langfuse_s3_access_key | targets=langfuse_s3_access_key | generate="openssl rand -hex 32">
LANGFUSE_S3_SECRET_KEY=-<langfuse_s3_secret_key | targets=langfuse_s3_secret_key | generate="openssl rand -hex 32">
