# Eingaben: @file:/absoluter/pfad liest mehrzeilige Schlüssel/Zertifikate.
DOMAIN=<global.DOMAIN>
LANGFUSE_PUBLIC_KEY=!<langfuse.LANGFUSE_PROJECT_PUBLIC_KEY>
LANGFUSE_SECRET_KEY=!<langfuse.LANGFUSE_PROJECT_SECRET_KEY>
LITELLM_MASTER_KEY=!<LITELLM_MASTER_KEY | generate="Wert mit erforderlichem Präfix sk- und zufälligem Suffix erstellen">
LITELLM_OIDC_CLIENT_ID=<LITELLM_OIDC_CLIENT_ID=litellm>
LITELLM_OIDC_CLIENT_SECRET=!<LITELLM_OIDC_CLIENT_SECRET | generate="openssl rand -hex 32">
LITELLM_POSTGRES_DB=<LITELLM_POSTGRES_DB=litellm>
LITELLM_POSTGRES_PASSWORD=!<LITELLM_POSTGRES_PASSWORD | generate="openssl rand -hex 32">
LITELLM_POSTGRES_USER=<LITELLM_POSTGRES_USER=litellm>
LITELLM_SALT_KEY=!<LITELLM_SALT_KEY | generate="openssl rand -hex 32">
LITELLM_UI_PASSWORD=!<LITELLM_UI_PASSWORD | generate="openssl rand -hex 32">
LITELLM_UI_USERNAME=<LITELLM_UI_USERNAME=litellm-admin>
LITELLM_VERSION=<LITELLM_VERSION=v1.95.0>
POSTGRES_VERSION=<POSTGRES_VERSION=18>
